#main
  - if flash[:notice]
    %p=flash[:notice]
  - elsif flash[:warning]
    %p= flash[:warning]  
  
  - @refrigerator.popularity_update

  %h3 Detail for #{@refrigerator.name}

  %p
    %table.refrigerator_table
      %tr.refrigerator_header
        %th Image
        %th Brand
        %th Price
        %th Rating
        %th Popularity
       
       
        %tr
          %td.image Image
          %td.brand=@refrigerator.brand
          %td.price=@refrigerator.price
          %td.rating=@refrigerator.rating
          %td.popularity=@refrigerator.popularity
    %br
    %br
    %p=link_to "Add to Cart", new_shopping_cart_path(refri_id:params[:id])
    %p=link_to "Cart", shopping_cart_path

    %table.review_table
      %tr=link_to "Create a review", new_refrigerator_review_path(@refrigerator)
      
    
    %table.reviews
      %tr
        %th description
        %th ice cube rating
     -@refrigerator.reviews.each do |i|
        %tr
         %td=i.attributes.values[3]
         %td=i.icecubes


    =link_to "View All Reviews for this Product", refrigerator_reviews_path(@refrigerator)
                


=link_to "Back to Search Results", refrigerators_path
