#main
  - if flash[:notice]
    %p=flash[:notice]
  - elsif flash[:warning]
    %p= flash[:warning]  

  %h3 Details for #{@refrigerator.brand} #{@refrigerator.model}

  %p
    %table.refrigerator_table
      %tr.refrigerator_header
        %th Brand
        %th Model
        %th Model Variations
        %th Configuration
        %th Defrost Type
        %th Compact?
        %th Through Door Dispenser?
        %th Automatic Icemaker?
        %th Volume(cu ft)
        %th KWh/year
        %tr
          %td.brand=@refrigerator.brand
          %td.model=@refrigerator.model
          %td.model_variations=@refrigerator.model_variations
          %td.configuration=@refrigerator.configuration
          %td.defrost_type=@refrigerator.defrost_type
          %td.compact=@refrigerator.compact?
          %td.through_door_dispenser=@refrigerator.through_door_dispenser?
          %td.automatic_icemaker=@refrigerator.automatic_icemaker?
          %td.volume_cu_ft=@refrigerator.volume_cu_ft
          %td.kwh_per_year=@refrigerator.kwh_per_year
    
    %br
    %br
    %p=link_to "Add to Cart", new_shopping_cart_path(refri_id:params[:id])
    %p=link_to "Cart", shopping_cart_path
    %br
    %br

    %p=link_to "Google Research", "https://www.google.com/#q=%s+%s" % [@refrigerator.brand, @refrigerator.model]
    %p=link_to "Bing Research", "https://www.bing.com/search?q=%s+%s" % [@refrigerator.brand, @refrigerator.model]
    %p=link_to "Yahoo Research", "https://search.yahoo.com/search/?p=%s+%s" % [@refrigerator.brand, @refrigerator.model]

    -#%table.review_table
    -#  %tr=link_to "Create a review", new_refrigerator_review_path(@refrigerator)


=link_to "Back to Search Results", refrigerators_path
