body {
  font-family: Courier New, Sans-serif;
  font-size: 6pt;
  font-weight: 900;
  position: center;
  font-style: normal;
  text-align: center;
  background-image: url(refrigerator.jpg);
  background-color: #cccccc;
}

body #main {
  background-color: rgb(255,130,255);
  font-size: 18pt;
  color: yellow;
  text-align: center;
  padding: 15px;
  border: 8px double white;
  border-radius: 15px;
}

h3.title {
  font-family: Comic;
  font-size: 18pt;
  color: yellow;
  position: inherit;
  top: 100px;
  

}


table.refrigerators_table {
  position: absolute;
  right: 20px;

}
