<h1 class="infoheaders">Attribute Definitions</h1>

<h2 class="infoheaders">Configuration</h2>
  <p class="info">Configurations: Freezer on Top, Freezer on Bottom, Side-by-Side, French Door, Single or Dual Freezers

Refrigerators come in all shapes, sizes and colors — and choosing the right one for your family is no small task.

First and foremost you must measure the space where the refrigerator will sit. Note the height, width and depth of the refrigerator with doors open and closed. Remember to factor in the door swing in relation to adjacent walls, cabinets and other appliances — and leave at least an inch of clearance space around the unit to ensure adequate air flow. It’s important to avoid buying a refrigerator that is too big or small and looks awkward in your kitchen.

Next, you need to figure out how much food storage capacity you need. Generally, a family of four will require 18 to 22 cubic feet of refrigerator space. Larger families or those who frequently entertain, freeze garden produce or grocery shop in bulk will need a minimum of 25 to 28 cubic feet.

You also need to decide which features are most important to you. Do you need an in-door ice and filtered water dispenser? Are you keen on having humidity controls on storage bins to prolong the freshness of meat and vegetables?

It’s important to buy a refrigerator that suits your eating, shopping and living habits — and deciding upon the perfect door configuration is no small part of that equation. This guide provides a quick list of pros and cons associated with the most common fridge styles:
</p>
  <h4 class="infoheaders">Freezer On The Top</h4>
    <p class="info">Refrigerators with freezers on the top are most common — still accounting for about half of all refrigerator sales — and usually cost less to operate than side-by-side refrigerator/freezers. Drawbacks? You’ll have to bend down to reach the bottom shelves and drawers, and the wide doors may not work in narrow kitchens. You also won’t find in-door ice and water dispensers on these models.</p>
  <h4 class="infoheaders">Freezer On The Bottom</h4>
    <p class="info">The main attraction to this “upside down” configuration is that it offers the convenience of an eye-level refrigerator — and isn’t that the area you’re accessing most? Bottom freezers are generally the cheapest to operate, but may be more costly to buy. It can be inconvenient to find food stored in freezers low to the ground, unless you have roll-out or pullout baskets, and they may be harder to locate.</p>
  <h4 class="infoheaders">Side-By-Side</h4>
    <p class="info">These units feature a vertical, full-length split that places the freezer on one side and refrigerator on the other. The advantage to this design is that you can place commonly used refrigerated and frozen foods at a convenient level, instead of always having to bend down or reach up to retrieve foods. The narrow doors on these models work well in small kitchens. Conversely, the small doors may not open wide enough to store something like a frozen pizza.

</p>
  <h4 class="infoheaders">French Door</h4>
    <p class="info">Introduced in the late 1990s, the French door refrigerator has two doors that open up the refrigerator section; the freezer section is a pull-out drawer located below the refrigerator. Because the refrigerator is on top, all refrigerated foods are at a convenient level. This model is not as energy efficient as the single door with a freezer on the top or bottom, but its narrower doors work well in smaller kitchens. French door refrigerators have wide shelves that leave space for large platters. This is the most costly of the basic refrigerator configurations.</p>
  <h4 class="infoheaders">Single Or Dual Freezer Drawers</h4>
    <p class="info">A single freezer drawer offers a lot of storage space for stockpiling meats, veggies and frozen pizzas. However, some people may find that it is difficult to access foods that are stacked so deeply in the drawer; foods may become freezer burned if forgotten at the bottom. Some manufacturers have addressed this concern by offering models with two shallow drawers.</p>


<h2 class="infoheaders">Defrost Type</h2>
  <p class="info">Types: Automatic Defrost, Manual Defrost

Automatic Defrost is a technique which regularly defrosts the evaporator in a refrigerator or freezer.</p>
  <ul class="infoheaders">Advantages</ul>
    <li class="info">No need to manually defrost the frost buildup hence power consumption doesn't increase with time</li>
    <li class="info">Food packaging is easier to see because it's clear of frost</li>
    <li class="info">Most frozen foods don't stick together</li>
    <li class="info">Smells are limited, especially in total frost-free appliances because the air is always circulating
</ul>
    <li class="info">Better temperature management.</li>

  <h4 class="infoheaders">Disadvantages</h4>
    <p class="info">The system can be more expensive to run when usage is high and if the fan continues or starts to run when the door is opened.</p>
    <p class="i<a href="#top">link to top</a>nfo">A safety device is required to be connected with the heating element, due to the high instant-power values that can be reached.</p>
    <p class="info">Increased electrical and mechanical complexity compared to a basic upright freezer or freezer chest, making it more prone to component failure.</p>
    <p class="info">The temperature of the freezer contents rises during the defrosting cycles, especially if there is a light load in the freezer. This can cause "freezer burn" on articles placed in the freezer, from partially defrosting, then re-freezing</p>
    <p class="info">On hot humid days condensation will sometimes form around the refrigerator doors.</p>
    <p class="info">Defrosting may not be completed by the time the defrost timer cycles back into normal operation (esp. In Hot, humid conditions with frequent door openings), leaving ice/frost on the evaporator coils. This condition can lead to "icing up" which will interfere with the operation of the refrigerator.</p>
  <h5 class="infoheaders">Important for lab rats:</h5>
    <p class="info">In laboratories, self-defrosting freezers must not be used to store certain delicate reagents such as enzymes, because the temperature cycling can degrade them. In addition, water can evaporate out of containers that do not have a very tight seal, altering the concentration of the reagents. Self-defrosting freezers should never be used to store flammable chemicals.</p>

<h2 class="infoheaders">Compact</h2>
  <p class="info">Types: Compact, Not-Compact

Compact refrigerators are sometimes refferred to as "mini-fridges" due to their smaller size. These fridges are often used in hotels since often residents will not need to store lots of food. Compact fridges are great for a small room or a small kitchen.</p>
  <h4 class="infoheaders">Advantages</h4>
    <p class="info">Small size makes them easy to move around and place in various rooms</p>
    <p class="info">Consumes less energy than full-sized fridges</p>
  <h4 class="infoheaders">Disadvantages</h4>
    <p class="info">Doesn't have much room for lots of food</p>
    <p class="info">Doesn't have some nice features that full-sized fridges might have</p>

<h2 class="infoheaders">Through The Door Dispenser</h2>
  <p class="info">In-the-door ice and water dispensers have become common on refrigerators, especially in the bottom-freezer and side-by-side categories. In fact, depending on what size refrigerator you're shopping for, you might have a hard time finding a model that doesn't offer this feature. And it can be a nice convenience, especially if you entertain often or your household goes through a lot of water and ice. But there are a few downsides to consider. With that, here are the pros and cons on in-the-door ice and water dispensers, based on Consumer Reports' ongoing refrigerator tests.                               
--The Pros--

Added convenience. There's nothing easier than pressing a lever and watching your glass fill with fresh ice (whole or crushed, as you like it) and chilled water. That convenience can help you and your family stay hydrated throughout the day. Many manufacturers have made their dispensers even easier to use, for example, by making them taller so that you can fill pitchers and other oversize containers. Samsung added a sparkling water option to its Samsung Chef Collection RF34H9960S4 and Samsung T9000 RF32FMQDBSR, while the dispenser on the GE Cafe CFE29TSDSS produces water that's cold or hot. 

Cleaner, better tasting water and ice. The water line on most dispensers runs through a built-in filter that should improve the taste of your water and also capture contaminants like lead and mercury. If you had been relying on bottled water, a refrigerator water dispenser could save you money and drastically reduce the amount of plastic garbage your home produces.
--The Cons--

Added cost. You'll feel this a few ways, starting with the purchase price. Refrigerators with in-the-door ice and water dispensers typically cost a couple hundred dollars more than comparable models without the feature. Annual operating costs tend to be higher as well, due to the extra electricity needed to power the unit. It might only be $20 or so, but over the life of the unit that will add up. And don't forget the cost of replacement filters, which could add another $50 to $100 to your annual operating expenses.        

Higher repair rates. Another major drawback to in-the-door ice and water dispensers is that they tend to break down a lot. Repairs could set you back a few hundred bucks, including the cost of the service call. In Consumer Reports' brand reliability surveys, refrigerators with icemakers have significantly higher repair rates. And a through-the-door water dispenser is just one more part that can malfunction, especially given the extreme environment of a freezer compartment. Small kids, who often find dispensers an irresistible distraction, can be another torture test, though lock-out buttons are standard these days.   

Reduced storage. With many models, the housings for the icemaker and water filter are located in the top shelf of the refrigerator, which reduces the amount of usable storage space. Some brands, including Kenmore and LG, have started placing their icemakers in the door of the freezer, which subtracts storage from the fresh-food section. Check out the LG LFX32945ST, $3,000, which has this feature and is also tied for the highest overall score in our Ratings of three-door refrigerators, thanks to its superb temperature control, efficiency, and quiet operation.</p>
<h2 name="ice">Automatic Icemaker</h2>
  <p>Automatic icemakers for the home were first offered by the Servel company around 1953. They are usually found inside the freezer compartment of a refrigerator. They produce crescent-shaped ice cubes from a metal mold. An electromechanical or electronic timer first opens a solenoid valve for a few seconds, allowing the mold to fill with water from the domestic cold water supply. The timer then closes the valve and lets the ice freeze for about 30 minutes. Then, the timer turns on a low-power electric heating element inside the mold for several seconds, to melt the ice cubes slightly so they will not stick to the mold. Finally, the timer runs a rotating arm that scoops the ice cubes out of the mold and into a bin, and the cycle repeats. If the bin fills with ice, the ice pushes up a wire arm, which shuts off the icemaker until the ice level in the bin goes down again. The user can also lift up the wire arm at any time to stop the production of ice.

Early icemakers dropped the ice into a bin in the freezer compartment; the user had to open the freezer door to obtain ice. In 1965, Frigidaire introduced icemakers that dispensed from the front of the freezer door. In these models, pressing a glass against a cradle on the outside of the door runs a motor, which turns an auger in the bin and delivers ice cubes to the glass. Most dispensers can optionally route the ice through a crushing mechanism to deliver crushed ice. Some dispensers can also dispense chilled water.</p>
<h2 name="vol">Volume In Cubic Feet(cuft)</h2>
  <p>The capacity of a refrigerator is measured in either litres or cubic feet. Typically the volume of a combined refrigerator-freezer is split to 100 litres (3.53 cubic feet) for the freezer and 140 litres (4.94 cubic feet) for the refrigerator, although these values are highly variable.</p>
<h2 name="standard">Federal Standard For Energy Consumption Of Refrigerators</h2>
  <p>The Federal Standard for appliance energy consumption is a good measure of how much energy your refrigerator should be using. The DOE claims that about 13 percent of your energy bill comes from your home appliances. And it's probably no surprise that your continuously-running refrigerator makes up a large portion of that. Not only that but a having a refrigerator that uses less energy will also help save the planet!</p>

<a href="javascript:history.back()">Back to Product</a>
