.info {
  color: black;
}



p {
  font-size: 12pt;
  color: black;
  text-align: justify;
  text-indent: 50px;
  background: #CCFFFF;
}

h1.infoheaders {
  font-size: 26pt;
  text-align: center;
}

h2.infoheaders {
  font-size: 18pt;
  text-align: left;
}

h3.infoheader {
  font-size: 15pt;
  text-align: left;
}

h4.infoheaders {
  font-size: 14pt;
  text-align: left;
  color: #FF6699;
}

h5.infoheader {
  font-size: 13pt;
  text-align: left;
}
