body {
  font-family: Courier New, Sans-serif;
  font-size: 12pt;
  color: yellow;
  font-weight: 900;
  position: center;
  font-style: normal;
  text-align: left;
  background: url("iceberg.jpg");
  background-size: cover;
}

h2.page_name{
  font-size: 20pt;
  text-align: left;
  color: yellow;
}

h3.title_header{
  font-family: Sans-serif;
  font-size: 60pt;
  color: rgb(255,130,255);
  position: center;
  text-shadow: 2px 4px black;
}

body #main {
  font-size: 16pt;
  color: rgb(255,130,255);
  text-align: center;
}

h3.title {
  font-family: Comic;
  font-size: 18pt;
  color: rgb(255,130,255);
  position: inherit;
  top: 100px;
  

}
td .add_link{
  text-align: right;

}

table.refrigerators_table{
  background-color: white;
  font-size: 12;
  font-family: Sans-serif;
  border-radius: 25px;
  padding: 20px;
  border-left: -25px;
  border-right: -25px;
  width: 10px;
  border: 6px black;
}

a:link{
  color: rgb(0,130,0);
}

tr:hover{
  color: red;
}
tr:nth-child(1){
  background: black;
  outline-style:inset;
  outline-color:black;
}
tr:nth-child(odd){
  background: #E0E0E0;
  padding: 10px;
}

tr:nth-child(even){
  background: #ffffff;

}

a:hover{
  color:red;
}

a:active{
  color:purple;
}

#looking_for {
  padding: 8px 15px;
  background:rgba(255, 255, 255, .5);
  border: 0px solid #dbdbdb;
  width: 500px;
}

.search_button {
    position:relative;
    padding:6px 15px;
    left: -30px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.review {
  display:none;
  position:absolute;
  border:1px solid #000;
  width:100px;
  height:100px;
  background-color:#ccc

}

#search p {
    font-size: 10pt
} 

table.searched_table{
  width: 90%;
  margin: auto;
  border-radius: 25px;
  padding: 20px;
  border-left: -25px;
  border-right: -25px;
  width: 10px;
  border: 6px black;
  background-color: white;
}

tr.searched_header{
  font-size: 22pt;
}

tr.row {
  font-size: 14pt;
}

tr.refrigerator_table{
  display:block;
  height: 50px;
  vertical-align: text-top;
}

h3.fridge {
  color: black;
  text-align: center;
  font-size: 34pt;
}

