body.title {
  font-family: Courier New, Sans-serif;
  font-size: 30pt;
  color: yellow;
  font-weight: 900;
  position: center;
  font-style: normal;
  text-align: center;
  background: url("iceberg.jpg");
  background-size: cover;
  
}
h1.title_page{
  font-size: 56pt;
  text-align: center;
}

.header {
  background: #fff;
  position: absolute;
  top: -12px;
  left -20px;   
  z-index: 100;
  width: 135px;
  display: none;
  margin-left: 10px;
  padding: 40px 0 5px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.45);

}

h3.ad_se {
  font-size: 36pt;
  text-shadow: 2px 4px black;
}

h1.center_title{
  font-size: 66pt;
  color: yellow;
  text-align: center;
}

p.a_s{
  font-size: 12pt;
  text-align:center;
}

.s_box{
  text-align:center;
}

.searcher{
  text-align:center;
  font-size: 16pt;
  color:yellow;
}
