#search
  %h1.center_title LazyMe
  =form_tag refrigerators_path,method:"get" do

    .searcher= "I am looking for ..."
    %br
    .s_box=text_field_tag(:looking_for) 
    
    .s_box=submit_tag "Search", :class => "search_button"
  
  %p.a_s=link_to "Advanced Search", search_path(id:1) 
