#main

  %h3 Advanced Search


  =form_tag refrigerators_path,method:"get" do
    %br
    %br  
      Brand
      =text_field_tag(:brand)
    %br
      Min Rating
      =text_field_tag(:rating)  
    %br
      Popularity
      =text_field_tag(:popularity)
    %br  
      Model
      =text_field_tag(:model)
    %br
      Configuration
      %select{ :name => "configuration", :multiple => true }
        %option{:value => "Single Door"}= "Single Door"
        %option{:value => "Side-by-side"}= "Side-by-side"
        %option{:value => "Top Freezer"}= "Top Freezer"
        %option{:value => "Bottom Freezer"}= "Bottom Freezer"

      -#=text_field_tag(:configuration)  
    %br.filter
      =submit_tag "Filter"


=link_to "Back to search", searchs_path
