#main

  %h3.ad_se Advanced Search


  =form_tag refrigerators_path,method:"get" do
    %br
    %br  
      Brand
      =text_field_tag(:brand)
    %br
      Model
      =text_field_tag(:model)
    %br
      Configuration
      =select_tag(:configuration, options_for_select([["Single Door","Single Door"],["Side-by-side","Side-by-side"],["Top Freezer", "Top Freezer"],["Bottom Freezer"]]))
    %br
      Defrost Type
      =select_tag(:defrost_type, options_for_select([["Automatic","Automatic"],["Manual","Manual"],["Partial","Partial"]]))
    %br
      Compact
      =select_tag(:compact?, options_for_select([["Yes","Yes"],["No","No"]]))
    %br
      Through Door Dispenser
      =select_tag(:through_door_dispenser?, options_for_select([["Yes","Yes"],["No","No"]]))
    %br
      Automatic Icemaker
      =select_tag(:automatic_icemaker?, options_for_select([["Yes","No"],["No","No"]]))
    %br
      Min Volume(cuft)
      =number_field_tag(:min_volume)
    %br
      Max Volume(cuft)
      =number_field_tag(:max_volume)
    %br
      Max Kilowatt-hour/year
      =number_field_tag(:max_kwh_per_year)
    %br
      Min Rating
      =number_field_tag(:rating)  
    %br

      

      -#=text_field_tag(:configuration)  
    %br.filter
      =submit_tag "Filter"


=link_to "Back to search", searchs_path
