#main

  %h3 Advanced Search


  =form_tag refrigerators_path,method:"get" do
    %br
      Key word
      =text_field_tag(:key_word) |
    %br
    %tr
      %td
        Min Price
        =text_field_tag(:min)
      %td  
        Max Price
        =text_field_tag(:max)
    %br  
      Brand
      =text_field_tag(:brand)
    %br
      Key feature
      =text_field_tag(:key_features)
    %br
      Min Rating
      =text_field_tag(:rating)  
    %br
      Popularity
      =text_field_tag(:popularity)
      
    %br.filter
      =submit_tag "Filter"


=link_to "Back to search", searchs_path
