#review

    =form_for [@refrigerator, @review], :method => :post do |item|

        .field
            =item.label :icecubes, "Cube Rating"
            =item.number_field :icecubes, :in => 1..5

        .field
            %p=item.label :description, "Write Your Review"
            =item.text_field :description
        %br
        =item.submit "Submit This Review"
    %br
    %br
    %br

    =link_to 'Back to Product', refrigerator_path(@refrigerator)
    -## Not yet implemented ##
    -#link_to 'Go to All Reviews for this product', refrigerator_reviews_path(@refrigerator)
